@import 'mixins';

/* latin */
@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 300;
    src: local('Catamaran Light'), local('Catamaran-Light'), url(../fonts/Aaag4ccR7Oh_4eai-jbrYBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    src: local('Catamaran Regular'), local('Catamaran-Regular'), url(../fonts/iVYgK2bOLvZcSxr0ITOecpBw1xU1rKptJj_0jans920.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 700;
    src: local('Catamaran Bold'), local('Catamaran-Bold'), url(../fonts/PpgVtUHUdnBZYNpnzGbScxampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 900;
    src: local('Catamaran Black'), local('Catamaran-Black'), url(../fonts/5ys9TqpQc9Q6gHqbSox6pxampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    font-family: "Catamaran", Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

html, 
body {
    margin:0; 
    padding:0; 
    height:100%; 
}

.container {
    position: relative;	
    min-width: 380px; 
    min-height: 100%;

    &.without_footer {
        background: #080033;
    }
}

* {
    margin: 0; 
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.centered {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 1140px;
}

.end_content {
    position: relative;
    height: 413px;
    clear: both;
}

.btn {
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    @include gradient(#0c42f5, #2bbef9);
    width: 167px;
    height: 40px;
    display: inline-block;
    text-align: center;
    position: relative;
    font-size: 13px;
    
    span {
        margin: 2px;
        height: 36px;
        float: left;
        width: 163px;
        border-radius: 3px;
        line-height: 36px;
        cursor: pointer;
        position: relative;
        z-index: 10;
    }

    &:before {
        content: "";
        width: 163px;
        height: 36px;
        top: 2px;
        left: 2px;
        position: absolute;
        @include gradient(#0d4af5, #27b6f9);
        z-index: 1;
    }

    &:after {
        content: "";
        width: 163px;
        height: 36px;
        top: 2px;
        left: 2px;
        position: absolute;
        @include gradient(#1977f7, #1e8ff7);
        z-index: 2;
        opacity: 0;
        transition: all 1s;
    }

    &:hover {
        &:after {
            opacity: 1;
        }
    }
}

h2 {
    font-size: 144px;
    font-weight: 900;
    color: #350878;
    opacity: .15;
    float: left;
    width: 100%;
    line-height: 100%;
}

h3 {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    float: left;
    width: 100%;
    line-height: 100%;
    margin-top: -40px;
}

